[Desktop Entry]
Name=EasyType 2016
Name[zh_CN]=金山打字通2016
Exec=typeeasy
Type=Application
StartupNotify=true
Terminal=false
Icon=typeeasy
Categories=Education
StartupWMClass=typeeasy.exe
