[Desktop Entry]
Name=XQWizard
Name[zh_CN]=象棋巫师
Comment=xqwizard
Comment[zh_CN]=象棋巫师
Exec=xqwizard
Type=Application
StartupNotify=true
Terminal=false
Icon=xqwizard
Categories=Game;
StartupWMClass=xqwizard.exe
