[Desktop Entry]
Name=cstrike
Name[zh_CN]=CS 1.6
Exec=cstrike
Type=Application
StartupNotify=true
Icon=cstrike
Categories=Player;Game;
StartupWMClass=cstrike.exe
