[Desktop Entry]
Categories=Chat;Office;
Comment=
Exec=/usr/bin/dingtalk %u
GenericName=dingtalk
Icon=/opt/dingtalk/logo.ico
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=钉钉
Type=Application
X-Deepin-Vendor=user-custom
