[Desktop Entry]
Name=yuanshen
Name[zh_CN]=原神
Icon=yuanshen
Comment=YuanShen Game
Categories=Game;
StartupNotify=true
Exec=yuanshen %u
Terminal=false
Type=Application
