[Desktop Entry]
Name=wechat
Name[zh_CN]=微信
Comment=wechat
Comment[zh_CN]=微信
Exec=wechat
Type=Application
StartupNotify=true
Terminal=false
Icon=wechat
Categories=Game;
StartupWMClass=wechat.exe
